@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: $font;
}

h1 {
  font-family: $title;
  font-size: 2.5rem;
  color: $text;
}

h2 {
  font-family: $subtitle;
  font-size: 1.5rem;
  color: $text;
}

p {
  font-family: $font;
  font-size: 1.2rem;
  color: $text;
}

.logo {
  height: 30px;
  float: left;
}

// ##############################
// ######### BIENVENUE ##########
// ##############################

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url($fond-phone) rgba(0, 0, 0, 0.7) no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
}

.title {
  font-weight: 700;
  font-size: 1.9rem;
  text-align: center;
}

.subtitle {
  font-weight: normal;
  font-size: 1rem;
  margin: 10px 0;
  text-align: center;
}

.link {
  margin: 20px 0 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.connexion {
  font-size: 14px;
  font-family: $title;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: $button;
  color: #fff;
  text-decoration: none;
}

.inscription {
  font-size: 14px;
  font-family: $title;
  border-radius: 10px;
  padding: 15px 35px;
  box-shadow: 0px 0px 0px 3px $text inset;
  color: $text;
  text-decoration: none;
}

.enter {
  font-weight: normal;
  font-family: $title;
  color: $text;
  text-decoration: underline;
}

.login,
.signin {
  height: 100vh;
  background: url($fond-phone) rgba(0, 0, 0, 0.7) no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
}

// ##############################
// ######### CONNEXION ##########
// ##############################

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulaire {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $formulaire;
  padding: 25px 50px;
}

.error {
  color: $heart;
  font-size: 0.8rem;
}

.title_connexion {
  margin-bottom: 30px;
}

.text_connexion {
  font-size: 0.9rem;
}

.password_connexion {
  font-size: 0.9rem;
}

.form-control {
  margin-bottom: 20px;
}

input.form-control,
input.form-control2 {
  color: $text;
  margin-top: 10px;
  background: $input;
  border: $input2 solid 1.5px;
  padding: 3px;
  border-radius: 5px;
}

.form-control2 {
  margin-bottom: 35px;
}

.btn_connection {
  font-family: $title;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: $button;
}

// ######################################
// ########### HEADER-CREATOR ###########
// ######################################

.header {
  background-color: $header;
  backdrop-filter: blur(4px);
  top: 0px;
  z-index: 1000;
  width: 100%;
  padding: 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.animation {
  -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.search {
  width: 130px;
  background: $input;
  border: $icon solid 1px;
  border-radius: 10px;
  padding: 5px 10px 5px 1.4rem;
  color: $text;
}

.search2{
  width: 160px;
  background: $input;
  border: $icon solid 1px;
  border-radius: 10px;
  padding: 5px 10px 5px 1.4rem;
  color: $text;
}

.search:focus-visible {
  outline: none;
}

.search2:focus-visible {
  outline: none;
}

.publish {
  font-family: $subtitle;
  font-weight: normal;
  font-size: 0.8rem;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  background-color: $button;
}

.fa-magnifying-glass {
  color: $search;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.nav {
  position: relative;
}

.fa-magnifying-glass {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

// ###########################
// ########## HOME ###########
// ###########################


.home {
  padding: 50px 3.5rem 0px;
}

.card {
  margin-bottom: 45px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.card_img {
  object-fit: cover;
  object-position: center 50%;
  width: 100%;
  height: 230px;
  border-radius: 15px;
}

.card_figcaption {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: $text;
  position: absolute;
  bottom: 0;
  background-color: #2d2d2dc5;
  backdrop-filter: blur(2px);
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.avatar_card {
  margin: 0 10px 0 5px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.fa-heart,
.fa-message {
  display: flex;
  color: $icon;
  margin-right: 10px;
}

.icon_card {
  display: flex;
  flex: content;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .card_figcaption {
    font-size: 0.9rem;
  }
}

.identification {
  font-size: 12px;
  text-decoration: none;
  color: $text;
  padding: 8px 15px;
  box-shadow: 0px 0px 0px 1.5px $text inset;
  border-radius: 5px;
}