@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
  font-family: "Roboto-Regular", sans-serif;
}

h1 {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 2.5rem;
  color: #e0e0e0;
}

h2 {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 1.5rem;
  color: #e0e0e0;
}

p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.2rem;
  color: #e0e0e0;
}

.logo {
  height: 30px;
  float: left;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../img/fond/fond-crearteur-phone.png") rgba(0, 0, 0, 0.7) no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
}

.title {
  font-weight: 700;
  font-size: 1.9rem;
  text-align: center;
}

.subtitle {
  font-weight: normal;
  font-size: 1rem;
  margin: 10px 0;
  text-align: center;
}

.link {
  margin: 20px 0 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.connexion {
  font-size: 14px;
  font-family: "Roboto-Bold", sans-serif;
  border-radius: 10px;
  padding: 15px 25px;
  background-color: #00a3ff;
  color: #fff;
  text-decoration: none;
}

.inscription {
  font-size: 14px;
  font-family: "Roboto-Bold", sans-serif;
  border-radius: 10px;
  padding: 15px 35px;
  box-shadow: 0px 0px 0px 3px #e0e0e0 inset;
  color: #e0e0e0;
  text-decoration: none;
}

.enter {
  font-weight: normal;
  font-family: "Roboto-Bold", sans-serif;
  color: #e0e0e0;
  text-decoration: underline;
}

.login,
.signin {
  height: 100vh;
  background: url("../img/fond/fond-crearteur-phone.png") rgba(0, 0, 0, 0.7) no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulaire {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px 50px;
}

.error {
  color: #ff6262;
  font-size: 0.8rem;
}

.title_connexion {
  margin-bottom: 30px;
}

.text_connexion {
  font-size: 0.9rem;
}

.password_connexion {
  font-size: 0.9rem;
}

.form-control {
  margin-bottom: 20px;
}

input.form-control,
input.form-control2 {
  color: #e0e0e0;
  margin-top: 10px;
  background: rgba(217, 217, 217, 0.062745098);
  border: #d9d9d9 solid 1.5px;
  padding: 3px;
  border-radius: 5px;
}

.form-control2 {
  margin-bottom: 35px;
}

.btn_connection {
  font-family: "Roboto-Bold", sans-serif;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00a3ff;
}

.header {
  background-color: rgba(39, 39, 39, 0.8392156863);
  backdrop-filter: blur(4px);
  top: 0px;
  z-index: 1000;
  width: 100%;
  padding: 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  scroll-snap-type: x proximity;
}

.animation {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search {
  width: 130px;
  background: rgba(217, 217, 217, 0.062745098);
  border: #d9d9d9 solid 1px;
  border-radius: 10px;
  padding: 5px 10px 5px 1.4rem;
  color: #e0e0e0;
}

.search2 {
  width: 160px;
  background: rgba(217, 217, 217, 0.062745098);
  border: #d9d9d9 solid 1px;
  border-radius: 10px;
  padding: 5px 10px 5px 1.4rem;
  color: #e0e0e0;
}

.search:focus-visible {
  outline: none;
}

.search2:focus-visible {
  outline: none;
}

.publish {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #00a3ff;
}

.fa-magnifying-glass {
  color: rgba(217, 217, 217, 0.4352941176);
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.nav {
  position: relative;
}

.fa-magnifying-glass {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}

.home {
  padding: 50px 3.5rem 0px;
}

.card {
  margin-bottom: 45px;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.card_img {
  object-fit: cover;
  object-position: center 50%;
  width: 100%;
  height: 230px;
  border-radius: 15px;
}

.card_figcaption {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: #e0e0e0;
  position: absolute;
  bottom: 0;
  background-color: rgba(45, 45, 45, 0.7725490196);
  backdrop-filter: blur(2px);
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.avatar_card {
  margin: 0 10px 0 5px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.fa-heart,
.fa-message {
  display: flex;
  color: #d9d9d9;
  margin-right: 10px;
}

.icon_card {
  display: flex;
  flex: content;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .card_figcaption {
    font-size: 0.9rem;
  }
}
.identification {
  font-size: 12px;
  text-decoration: none;
  color: #e0e0e0;
  padding: 8px 15px;
  box-shadow: 0px 0px 0px 1.5px #e0e0e0 inset;
  border-radius: 5px;
}

/*# sourceMappingURL=style.css.map */
