@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: $font;
}

h1 {
  font-family: $title;
  font-size: 2.5rem;
  color: $text;
}

h2 {
  font-family: $subtitle;
  font-size: 1.5rem;
  color: $text;
}

p {
  font-family: $font;
  color: $text;
}

.logo {
  height: 30px;
  float: left;
}

// ##############################
// ######### BIENVENUE ##########
// ##############################

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url($fond-phone) rgba(0, 0, 0, 0.8) no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
}

.title {
  font-size: 1.8rem;
  text-align: center;
}

.subtitle {
  font-weight: normal;
  font-size: 0.95rem;
  margin: 10px 0;
  text-align: center;
}

.link {
  margin: 20px 0 30px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.connexion {
  background-color: $button;
  color: #fff;
}

.connexion,
.inscription {
  letter-spacing: 0.8px;
  font-weight: 600;
  font-size: 14px;
  font-family: $font;
  border-radius: 10px;
  padding: 14px 25px;
  text-decoration: none;
}

.inscription {
  background-color: $text;
  color: $background;
}

.enter {
  font-family: $title;
  color: $text;
  text-decoration: none;
}

.login,
.signin {
  height: 100vh;
  background: url($fond-phone) rgba(0, 0, 0, 0.7) no-repeat center;
  background-size: cover;
  background-blend-mode: darken;
}

// ##############################
// ######### CONNEXION ##########
// ##############################

.login {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulaire {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $formulaire;
  padding: 25px 70px;
}

.redirection {
  margin-bottom: 30px;
  font-size: 1rem;
  text-align: center;
}

.redirection:focus-visible {
  outline: none;
}

.link_connexion {
  color: $button;
}

.error {
  color: $heart;
  font-size: 0.8rem;
}

.return {
  position: absolute;
  left: -60px;
}

.fa-arrow-left {
  transition: 500ms;
  color: $icon;
}

.fa-arrow-left:hover {
  color: $button;
}

.title_connexion {
  position: relative;
  font-size: 2rem;
  margin-bottom: 15px;
}

.text_connexion {
  font-size: 0.9rem;
}

.password_connexion {
  font-size: 0.9rem;
}

.form_control {
  margin-bottom: 20px;
}

input.form_control {
  color: $text;
  margin-top: 10px;
  background: $input;
  border: $input2 solid 1.5px;
  padding: 3px;
  border-radius: 5px;
}

input.form_control:focus-visible {
  outline: 2px solid $button;
}

input.form_control:last-child {
  margin-bottom: 35px;
}

.btn_connection,
.btn_inscription {
  font-family: $title;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: $button;
}

// ######################################
// ########### HEADER-CREATOR ###########
// ######################################

.header {
  background-color: rgba(39, 39, 39, 0.95);
  backdrop-filter: blur(4px);
  top: 0px;
  z-index: 1000;
  width: 100%;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animation {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search {
  width: 100px;
  background: $input;
  border: $icon solid 1px;
  border-radius: 10px;
  padding: 5px 10px 5px 1.4rem;
  color: $text;
}

.search2 {
  width: 160px;
}

.search:focus-visible {
  outline: none;
}

.search2:focus-visible {
  outline: none;
}

.publish {
  font-family: $subtitle;
  font-weight: normal;
  font-size: 0.8rem;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  background-color: $button;
}

.fa-magnifying-glass {
  color: $icon;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.nav {
  position: relative;
}

.fa-magnifying-glass {
  position: absolute;
  left: 7px;
  top: 52%;
  transform: translateY(-50%);
  z-index: 999;
}

// ###########################
// ########## HOME ###########
// ###########################

.footer {
  display: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0px 50px 0;
}

.card {
  margin-bottom: 45px;
  display: flex;
  position: relative;
  width: 280px;
  justify-content: center;
  flex-wrap: wrap;
}

.card_img {
  box-shadow: 0px 0px 15px 0px #1717173a;
  object-fit: cover;
  object-position: center 50%;
  width: 100%;
  height: 210px;
  border-radius: 10px;
}

.card_figcaption {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: $text;
  bottom: 0;
  background-color: #2d2d2da8;
  backdrop-filter: blur(2px);
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.avatar_card {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.fa-heart,
.fa-message {
  display: flex;
  color: $icon;
  margin-right: 10px;
}

.icon_card {
  display: flex;
  flex: content;
  justify-content: flex-end;
}

.identification {
  font-size: 12px;
  text-decoration: none;
  color: $text;
  padding: 8px 15px;
  box-shadow: 0px 0px 0px 1.5px $text inset;
  border-radius: 5px;
}

// ###########################
// ########## 400 ############
// ###########################

@media (min-width: 400px) {

  .title {
    letter-spacing: 1.1px;
    font-weight: 200;
    font-size: 2.2rem;
  }



  .link {
    justify-content: center;
  }

  .connexion {
    margin-right: 40px;
  }
  .card {
    width: 330px;
  }

  .card_img {
    height: 240px;
  }
}

// ###########################
// ########## 450 ############
// ###########################

@media (min-width: 450px) {
  .card {
    width: 350px;
  }

  .card_img {
    height: 250px;
  }
}

// ###########################
// ########## 450 ############
// ###########################

@media (min-width: 480px) {
  .card {
    width: 380px;
  }

  .card_img {
    height: 260px;
  }
}

// ###########################
// ########## 500 ############
// ###########################

@media (min-width: 500px) {
  .card {
    width: 400px;
  }

  .card_img {
    height: 280px;
  }
}

// ###########################
// ########## 560 ############
// ###########################

@media (min-width: 560px) {
  .welcome {
    background: url($fond) rgba(0, 0, 0, 0.8) no-repeat center;
    background-size: cover;
  }

  .title {
    font-size: 2.8rem;
  }

  .br {
    display: none;
  }

  .subtitle {
    font-size: 0.85rem;
    margin: 10px 0 30px;
  }

  .connexion {
    margin-right: 50px;
  }

  .link {
    margin: 10px 0 50px 0;
    justify-content: center;
  }

  .login,
  .signin {
    height: 100vh;
    background: url($fond) rgba(0, 0, 0, 0.7) no-repeat center;
    background-size: cover;
    background-blend-mode: darken;
  }

  .login {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .formulaire {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $formulaire;
    padding: 25px 80px;
  }

  .redirection {
    margin-bottom: 30px;
    font-size: 1.1rem;
    text-align: center;
  }

  .return {
    left: -55px;
  }

  .title_connexion {
    font-size: 3rem;
  }

  .text_connexion,
  .password_connexion {
    font-size: 1rem;
  }

  .form_control {
    margin-bottom: 30px;
  }

  input.form_control {
    padding: 5px;
  }

  input.form_control:last-child {
    margin-bottom: 40px;
  }

  .btn_connection,
  .btn_inscription {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .header {
    padding: 25px 35px;
  }

  .search {
    width: 200px;
  }

  .card {
    width: 420px;
    margin: 20px 0;
  }

  .card_img {
    height: 300px;
  }
}

// ###########################
// ########## 599 ############
// ###########################

@media (max-width: 599px) {
  .logo2 {
    display: none;
  }
}

// ###########################
// ########## 600 ############
// ###########################

@media (min-width: 600px) {

  .title {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 0.9rem
  }

  .btn_connection,
  .btn_inscription {
    transition: 800ms;
  }

  .btn_connection:hover,
  .btn_inscription:hover {
    transform: scale(1.05);
    transition: 800ms;
  }

  .logo2 {
    height: 25px;
  }

  .logo {
    display: none;
  }

  .search {
    width: 200px;
  }

  .publish {
    font-size: 1rem;
    padding: 8px 25px;
  }

  .icon {
    height: 50px;
    width: 50px;
  }

  .card {
    width: 470px;
    margin: 20px 0;
  }

  .card_img {
    height: 300px;
  }
}
// ###########################
// ########## 740 ############
// ###########################

@media (min-width: 740px) {
  .title {
    font-size: 3.3rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .card {
    width: 300px;
    margin: 20px;
  }

  .card_img {
    height: 280px;
  }
}

// ###########################
// ########## 768 ############
// ###########################

@media (min-width: 768px) {

  .title {
    font-size: 3.6rem;
    text-align: center;
  }

  .subtitle {
    font-size: medium;
    margin: 10px 0 30px;
  }

  .link {
    margin: 10px 0 50px 0;
  }

  .connexion {
    margin-right: 50px;
    padding: 15px 20px;
  }

  .inscription {
    padding: 15px 25px;
  }

  .login,
  .signin {
    height: 100vh;
    background: url($fond) rgba(0, 0, 0, 0.8) no-repeat center;
    background-size: cover;
    background-blend-mode: darken;
  }

  .search {
    width: 230px;
  }

  .card {
    width: 320px;
    margin: 20px;
  }

  .card_img {
    height: 280px;
  }

  .container {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
  }

  .link_footer {
    font-size: 0.9rem;
    color: $text;
    text-decoration: none;
    margin: 0px 10px;
    transition: 800ms;
  }

  .link_footer:hover {
    transform: scale(1.05);
    transition: 800ms;
  }

  .footer {
    display: block;
    background-color: $footer;
    padding: 50px 20px;
  }

  .copyright {
    color: $icon;
    font-size: 0.8rem;
    text-align: center;
  }
}

@media (min-width: 830px) {
  .card {
    width: 350px;
    margin: 20px;
  }

  .card_img {
    height: 280px;
  }
}

// ###########################
// ########## 1000 ###########
// ###########################

@media (min-width: 1000px) {
  .title {
    font-size: 3.7rem;
  }

  .subtitle {
    margin: 10px 0 30px;
  }

  .connexion {
    margin-right: 70px;
  }

  .connexion,
  .inscription {
    transition: 300ms;
  }

  .connexion:hover,
  .inscription:hover {
    transform: scale(1.1);
    transition: 500ms;
  }

  .enter {
    font-size: 1rem;
    transition: 300ms;
  }

  .enter:hover {
    transform: scale(1.1);
    transition: 500ms;
  }

  .logo2 {
    height: 30px;
  }

  .search {
    width: 450px;
  }

  .icon {
    height: 60px;
    width: 60px;
  }

  .publish {
    font-size: 1rem;
    padding: 10px 30px;
  }

  .home {
    padding-top: 80px;
  }

  .card {
    width: 400px;
    margin: 20px;
  }

  .card_img {
    height: 300px;
  }

  .link_footer {
    margin: 0 20px;
  }

  .link_footer:hover {
    transform: scale(1.08);
  }
}

// ###########################
// ########## 1200 ###########
// ###########################

@media (min-width: 1200px) {
  .card {
    width: 420px;
    margin: 30px;
  }

  .card_img {
    height: 270px;
  }

  .link_footer {
    font-size: 1rem;
    margin: 0 25px;
  }
}

// ###########################
// ########## 1600 ###########
// ###########################

@media (min-width: 1600px) {
  .card {
    width: 330px;
    margin: 30px;
  }

  .card_img {
    height: 230px;
  }
}

// ###########################
// ########## 1700 ###########
// ###########################

@media (min-width: 1700px) {
  .title {
    font-size: 5rem;
    text-align: center;
  }

  .subtitle {
    font-weight: normal;
    font-size: 1.3rem;
    margin: 10px 0 30px;
    text-align: center;
  }

  .br {
    display: none;
  }

  .link {
    margin: 20px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .enter {
    font-size: 1.1rem;
  }

  .card {
    width: 350px;
  }
  .card_img {
    height: 260px;
  }
}

// ###########################
// ########## 1900 ###########
// ###########################

@media (min-width: 1900px) {
  .title {
    font-size: 5.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin: 10px 0 30px;
  }

  .link {
    margin: 20px 0 50px 0;
  }

  .connexion {
    margin-right: 70px;
  }

  .connexion,
  .inscription {
    font-size: 1.05rem;
    padding: 16px 32px;
  }

  .enter {
    font-size: 1.2rem;
  }

  .header {
    padding: 35px 60px;
    margin-bottom: 50px;
  }

  .search {
    font-size: 1.1rem;
    padding: 8px 2rem;
  }

  .fa-magnifying-glass {
    font-size: 1rem;
    left: 10px;
  }

  .identification {
    transition: 300ms;
    font-size: 1rem;
    padding: 10px 30px;
  }

  .identification:hover {
    color: #fff;
    background-color: $button;
    transition: 300ms;
    transform: scale(1.1);
    box-shadow: none;
  }

  .card {
    width: 380px;
    margin: 35px;
  }
  .card_img {
    height: 280px;
  }

  .createur {
    font-size: 1.1rem;
  }

  .link_footer {
    font-size: 1.1rem;
    margin: 0 35px;
  }
}

@media (min-width: 2100px) {
  .card {
    width: 430px;
  }

  .link_footer {
    font-size: 1.2rem;
    margin: 0 40px;
  }

  .copyright {
    font-size: 1rem;
  }
}
